* {
  font-family: Arial, sans-serif;
  font-size: 13px;
  box-sizing: border-box;
}

.grid {
  display: grid;
  margin: 20px;
  grid-template-columns: repeat(1fr, 2);
  grid-template-rows: 30px auto;
  align-items: center;
}

.search-container {
  grid-column: span 2;
  margin: 30px auto;
  text-align: center;
  width: 484px;
}

#search {
  height: 44px;
  width: 100%;
  background-image: url(../images/googlemic.png);
  background-size: 24px;
  background-position: 95%;
  background-repeat: no-repeat;
  background-color: #ffff;
  border: none;
  padding: 5px 8px 0 16px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 2px;
}

#search:hover,
#search:focus {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
  outline: none;
}

.google-square {
  opacity: 0.55;
  cursor: pointer;
  vertical-align: middle;
}

.left-text span,
.right-text img,
.right-text button,
.right-text span {
  margin: 0 8px;
}

.right-text {
  text-align: right;
}

.right-text button {
  font-weight: 600;
  background: linear-gradient(#4387fd, #4285f4);
  font-size: 13px;
  color: #fff;
  padding: 6px 12px;
  border: 1px solid #4285f4;
  border-radius: 2px;
}

img.google-logo {
  margin-bottom: 25px;
}

.search-container {
  margin-top: 150px;
}

.button-container {
  grid-column: span 2;
  margin: 0 auto;
  text-align: center;
}

.button-container div {
  color: #777;
  font-weight: 600;
  font-size: 13px;
  border: 1px solid #f2f2f2;
  margin: 0 4px;
  border-radius: 3px;
  background: #f2f2f2;
  display: inline-block;
  padding: 11px 16px;
  box-shadow: none;
}

.button-container div:hover {
  background-color: #f8f8f8;
  color: #222;
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
